@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background-color: #ffffff; /* Light background */
	--foreground-color: #000000; /* Light text */
	--accent-color: #6644ff; /* Accent color */
}

.dark {
	--background-color: #172940; /* Default dark background */
	--foreground-color: #ffffff; /* Default dark text */
}
@layer base {
	html {
		@apply bg-[var(--background-color)] text-[var(--foreground-color)];
	}
}

@layer utilities {
	a {
		@apply hover:text-accent transition-colors no-underline;
	}
}
